<div class="container">
    <h1>Details</h1>
   
    <a routerLink="/article/acceuil" class="btn btn-primary">Retour</a>
    
    <div>
        <strong>Id:</strong>
        <p>{{ article.id }}</p>
    </div>
    
    <div>
        <strong>Designation:</strong>
        <p>{{ article.designation }}</p>
    </div>

    <div>
        <strong>Prix unitaire:</strong>
        <p>{{ article.prixUnitaire }}</p>
    </div>
    

    <div>
        <strong>Quantité:</strong>
        <p>{{ article.quantite }}</p>
    </div>

    <div>
        <strong>Description:</strong>
        <p>{{ article.description }}</p>
    </div>
    
</div>
